body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 228, 106);
    background-image: url("../Images/Egypt.jpg");
    background-size: cover;
}
#gender {
    display: flex;
    align-items: center;
}

form {
    background-color: rgb(250, 232, 152);
    border-radius: 10px;
    padding: 16px;
    max-width: 300px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form button  {
    border-radius: 5px;
}

form button:hover  {
    background-color: rgb(254, 231, 200);
}